In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
stats.chi2.ppf(0.99,6)

16.811893829770927

In [3]:
data=pd.read_excel("C:/Users/raja asus/Desktop/Data Analytics/ChiSquareTest.xlsx")
data.head()

   rn  aa  pe  sm  ae  r  g  c
0   1  99  19   1   2  0  0  1
1   2  46  12   0   0  0  0  0
2   3  57  15   1   1  0  0  0
3   4  94  18   2   2  1  1  1
4   5  82  13   2   1  1  1  1

In [4]:
#Cross Table Between Gender and Student's Motivation
obs=pd.pivot_table(data[['g','sm']],index='g',columns='sm',aggfunc=len)
obs

sm   0   1  2
g
0   10  13  6
1    4   9  8

In [5]:
# Perform chi2 test to check independence
from scipy.stats import chi2_contingency

In [6]:
chi2,p,dof,tbl=chi2_contingency(obs)
chi2

2.3649585225939904

In [7]:
p

0.3065178579178871

In [8]:
dof

2

In [9]:
tbl

array([[ 8.12, 12.76,  8.12],
       [ 5.88,  9.24,  5.88]])

### GOF of Distributions

In [10]:
from scipy.stats import chi2
from scipy.stats import poisson

In [11]:
data=pd.read_excel("C:/Users/raja asus/Desktop/Data Analytics/ChiSquareTest1.xlsx")
data

    Arrivals  Frequency
0          0          0
1          1          1
2          2          4
3          3         10
4          4         14
5          5         20
6          6         12
7          7         12
8          8          9
9          9          8
10        10          6
11        11          3
12        12          1

In [12]:
of=data['Frequency']

In [13]:
ta=600
ttp=100
mu=ta/ttp
mu

6.0

In [14]:
ef=[]
for i in range(len(of)):
    e_f=100*poisson.pmf(i,mu)
    ef.append(e_f)

In [15]:
ef

[0.24787521766663584,
 1.4872513059998145,
 4.461753917999444,
 8.923507835998894,
 13.385261753998332,
 16.062314104797995,
 16.06231410479801,
 13.767697804112569,
 10.32577335308442,
 6.883848902056284,
 4.130309341233764,
 2.2528960043093247,
 1.1264480021546681]

In [16]:
ef=[round(i,2) for i in ef]
ef

[0.25,
 1.49,
 4.46,
 8.92,
 13.39,
 16.06,
 16.06,
 13.77,
 10.33,
 6.88,
 4.13,
 2.25,
 1.13]

In [17]:
df=pd.DataFrame(list(zip(of,ef)),columns=['Observed Frequency','Expected Frequency'])
df

    Observed Frequency  Expected Frequency
0                    0                0.25
1                    1                1.49
2                    4                4.46
3                   10                8.92
4                   14               13.39
5                   20               16.06
6                   12               16.06
7                   12               13.77
8                    9               10.33
9                    8                6.88
10                   6                4.13
11                   3                2.25
12                   1                1.13

In [18]:
of=[5,10,14,20,12,12,9,8,10]
ef=[6.20,8.92,13.39,16.06,16.06,13.77,10.33,6.88,8.39]
stats.chisquare(of,ef)

Power_divergenceResult(statistic=3.2738182931105193, pvalue=0.916017731732134)

In [19]:
chi2.ppf(0.95,7)

14.067140449340169

### Checking GOF for Uniform Distribution

In [20]:
chi2.ppf(0.99,11)

24.724970311318277

In [21]:
x=[1610,1585,1649,1590,1540,1397,1410,1350,1495,1564,1602,1655]
np.mean(x)

1537.25

In [22]:
f=[1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25,1537.25]
stats.chisquare(x,f)

Power_divergenceResult(statistic=74.37583346885673, pvalue=1.78545252783034e-11)

### Checking GOF for Normal Distribution

In [23]:
s=[33,43,44,45,52,52,56,58,63,64,64,65,66,68,70,72,73,73,74,75,83,84,85,86,91,92,94,98,102,105]

In [24]:
mean=np.mean(s)
mean

71.0

In [25]:
std=np.std(s)
std

18.226354544998845

In [26]:
x=1/6
for i in range(1,6):
    pi=[stats.norm.ppf(i*x,mean,std)]
    print(pi)

[53.36743154175236]
[63.14941153083116]
[71.0]
[78.85058846916884]
[88.63256845824763]

In [27]:
ef=[5,5,5,5,5,5]
of=[6,3,6,5,4,6]
stats.chisquare(of,ef)

Power_divergenceResult(statistic=1.5999999999999999, pvalue=0.9012493445012737)